<div id="<%= dom_id projet %>">
  <p class="my-5 text-primary">
    <%= projet.nom %>
    (<%= projet.poids %>)
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this projet", projet, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this projet', edit_projet_path(projet), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
