<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @projet %>">

      <h1 class="text-center text-6xl font-black text-primary">
        <%= title @projet.nom %>
      </h1>
      <p>
        <%= render(TagListComponent.new(tags: @projet.tag_list)) %>
      </p>

      <p>
        <%= @projet.contenu %>
      </p>
      <p>
        <%= link_to @projet.url, @projet.url, target: "_blank" %>
      </p>
    </div>
  </div>
</div>
