<div class="mx-auto max-w-max p-8">
  <div class="stats stats-vertical lg:stats-horizontal shadow">
    <% if @nbr_projets > 0 %>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </div>
        <div class="stat-title">Projets</div>
        <div
          class="stat-value" 
          data-controller="animated-number"
          data-animated-number-lazy-value=""
          data-animated-number-start-value="0"
          data-animated-number-end-value=<%= @nbr_projets %>
          data-animated-number-duration-value="1000"
        >
          0
        </div>
        <div class="stat-desc">~2020/2024</div>
      </div>
    <% end %>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="inline-block w-8 h-8 fill-current">
        <path d="M476.8 288C461.1 361 397.4 416 320 416C242.6 416 178 361 163.2 288H32C14.33 288 0 273.7 0 256C0 238.3 14.33 224 32 224H163.2C178 150.1 242.6 96 320 96C397.4 96 461.1 150.1 476.8 224H608C625.7 224 640 238.3 640 256C640 273.7 625.7 288 608 288H476.8zM320 336C364.2 336 400 300.2 400 256C400 211.8 364.2 176 320 176C275.8 176 240 211.8 240 256C240 300.2 275.8 336 320 336z"/></svg>
      </div>
      <div class="stat-title">Commits GitHub</div>
      <div
        class="stat-value"
        data-controller="animated-number"
          data-animated-number-lazy-value=""
        data-animated-number-start-value="0"
        data-animated-number-end-value=<%= @nbr_commits %>
        data-animated-number-duration-value="4000"
      >
        0
      </div>
      <div class="stat-desc"><%= params[:tag] ? 'n/a' : '↗︎ 980 (31%)' %></div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="inline-block w-8 h-8 fill-current">
        <path d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"/></svg>
      </div>
      <div class="stat-title">Déploiements Heroku</div>
      <div
        class="stat-value"
        data-controller="animated-number"
          data-animated-number-lazy-value=""
        data-animated-number-start-value="0"
        data-animated-number-end-value=<%= @nbr_deploys %>
        data-animated-number-duration-value="3000"
      >
        0
      </div>
      <div class="stat-desc"><%= params[:tag] ? 'n/a' : '↗︎ 512 (42%)' %></div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"class="inline-block w-8 h-8 fill-current">
        <path d="M400 192H32C14.25 192 0 206.3 0 224v192c0 53 43 96 96 96h192c53 0 96-43 96-96h16c61.75 0 112-50.25 112-112S461.8 192 400 192zM400 352H384V256h16C426.5 256 448 277.5 448 304S426.5 352 400 352zM107.9 100.7C120.3 107.1 128 121.4 128 136c0 13.25 10.75 23.89 24 23.89S176 148.1 176 135.7c0-31.34-16.83-60.64-43.91-76.45C119.7 52.03 112 38.63 112 24.28c0-13.25-10.75-24.14-24-24.14S64 11.03 64 24.28C64 55.63 80.83 84.92 107.9 100.7zM219.9 100.7C232.3 107.1 240 121.4 240 136c0 13.25 10.75 23.86 24 23.86S288 148.1 288 135.7c0-31.34-16.83-60.64-43.91-76.45C231.7 52.03 224 38.63 224 24.28c0-13.25-10.75-24.18-24-24.18S176 11.03 176 24.28C176 55.63 192.8 84.92 219.9 100.7z"/></svg>
      </div>
      <div class="stat-title">Tasses de café</div>
      <div
        class="stat-value"
        data-controller="animated-number"
          data-animated-number-lazy-value=""
        data-animated-number-start-value="0"
        data-animated-number-end-value=<%= @nbr_coffees.to_i %>
        data-animated-number-duration-value="2000"
      >
        0
      </div>
      <div class="stat-desc"><%= params[:tag] ? 'n/a' : '↗︎ 154 (25%)' %></div>
    </div>

  </div>
</div>