<%= navbar_item 'home', root_path, 'Accueil' %>
<li>
  <%= link_to logiciels_path, class: "flex gap-4 #{'underline underline-offset-8 text-purple-800 font-black' if ['logiciels', 'aikku_plann', 'aikku_coopcom', 'aikku_access', 'aikku_sign', 'aikku_projects', 'prestofacto', 'talea'].include?(params[:action])}" do %>
    <span class="flex-1 whitespace-nowrap">Solutions</span>
  <% end %>
</li>
<%= navbar_item 'qui_sommes_nous', qui_sommes_nous_path, 'À propos' %>
<li>
  <%= link_to contact_path, 'data-turbo': false, class: "flex gap-4 #{'underline underline-offset-8 text-purple-800 font-black' if params[:action] == 'contact'}" do %>
    <span class="flex-1 whitespace-nowrap">Contact</span>
  <% end %>
</li>

<% if false %>
  <li>
    <%= link_to url_for(request.params.merge(locale: 'en')), class: 'text-black-50', title: "Changer de langue / Switch language" do %>
      <i class="fa-solid fa-globe"></i> FR
    <% end %>
  </li>
<% end %>