<%= navbar_item 'qui_sommes_nous', qui_sommes_nous_path, 'About us' %>
<%= navbar_item 'nos_clients', nos_clients_path, 'Clients' %>
<%= navbar_item 'services', services_path, 'Services' %>
<%= navbar_item 'logiciels', logiciels_path, 'Our softwares' %>
<li>
  <%= link_to contact_path, 'data-turbo': false, class: 'flex gap-4' do %>
    <span class="flex-1 whitespace-nowrap">Contact</span>
  <% end %>
</li>

<li>
  <%= link_to url_for(request.params.merge(locale: 'fr')) , class: 'text-black-50', title: "Switch language / Changer de langue" do %>
    <i class="fa-solid fa-globe"></i> US
  <% end %>
</li>