<section>
  <div class="text-center">
    <h1 class="font-black <%= (action_name != "home") ? 'text-5xl lg:text-6xl' : 'text-4xl lg:text-5xl my-12' %> text-accent pt-8 italic">
      Our softwares
    </h1>

    <h2 class="xl:text-2xl mt-6 lg:px-10 mb-12">
      We have developed several softwares, ensure maintenance and evolution
      on behalf of public entities and an establishment of higher education
    </h3>
  </div>

  <div class="flex flex-col justify-between gap-4 md:gap-8 lg:gap-16 md:mx-8 lg:mx-16 my-6">
    <div class="flex flex-wrap justify-between w-full gap-4 lg:gap-8">
      <%= link_to aikku_plann_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "projets/planning iae-paris/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku PLANN
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Manage all your training sessions and classrooms with a simple, affordable, and customizable solution
              <br><br>
              Developed in collaboration with IAE Paris-Sorbonne, Aikku PLANN is a scheduling and classroom management software.
              <br><br>
              From creating schedules to editing attendance sheets, including service reports, this application provides complete and collaborative management of course planning processes, classrooms, training sessions, instructors, students, and more.
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to aikku_sign_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "emargements/admin.png", class:"object-fill w-full mb-8" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku SIGN
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Digital presence sheet
              <br><br>
              Would you like to replace your paper attendance sheets with a simple and automated digital solution?
              <br><br>
              This application allows you to create sessions, associate participants with them, and automatically send them a link to a signature form.
              <br><br>
              The collected data can be processed by AI to detect anomalies (e.g., false signatures, unusual usage, etc.).
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-wrap justify-between w-full gap-4 lg:gap-8">
      <%= link_to aikku_access_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "aikku_access/table.png", class:"object-fill w-full pb-9" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku ACCESS 
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              NO-CODE online database application. Your business data 'In da Cloud'!
              <br><br>
              Enables the creation of collections of various business objects (Clients, Interventions, Technicians, Expenses, Projects, etc.), linking them together (Clients <-> Interventions <-> Technicians), and sharing them with your collaborators.
              <br><br>
              <b>AI Assistant:</b> Ask the Assistant a question based on the data in your object collections.
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to aikku_projects_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "projets/camino/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku PROJECTS
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Web application for project management, teamwork, and mobility
              <br><br>
              This application allows you to manage projects, tasks, resources, schedules, documents, discussions, and more.
              <br>
              <ul class="list-disc list-inside">
                <li>Break your projects down into to-do lists</li>
                <li>Invite your contacts to participate in the projects</li>
                <li>Assign tasks to participants and set deadlines</li>
                <li>Track participant activity by subscribing to notifications (completed work, new comments, additions/changes, etc.)</li>
              </ul>
          </div>
        </div>
      <% end %>
    </div>

    <% if false %>
      <%= link_to prestofacto_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "prestofacto/portail_parent.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku 
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Application for daily management and billing.
              <br><br>
              Help small organizations in the management and invoicing of their services (meals, daycare, extracurricular activities, accommodation overnight, summer camp, etc.).
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to talea_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card card-compact sm:card-normal shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <div class="card-body">
            <%= image_tag "projets/talea2/traffic_cone_3d_by_emilio_gallo.jpg", class:"object-fill mb-6" %>
            <hr class="mt-4">
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              TALEA 2
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Intervention management application
              <br><br>
              The objective of this application is to dematerialize and manage the workflow of a technical service
            </p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</section>