<section>
  <div class="text-center">
    <h1 class="font-black <%= (action_name != "home") ? 'text-5xl lg:text-6xl' : 'text-4xl lg:text-5xl my-12' %> text-accent pt-8 italic">
      Nos logiciels
    </h1>

    <h2 class="xl:text-2xl mt-6 lg:px-10 mb-12">
      Nous avons développé plusieurs logiciels, certains publiés en open-source,
      en assurons la maintenance et l'évolution
      pour le compte d'entités publiques et d'un établissement de l'enseignement supérieur
    </h3>
  </div>

  <div class="flex flex-col justify-between gap-4 md:gap-8 lg:gap-16 md:mx-8 lg:mx-16 my-6">
    <div class="flex flex-wrap justify-between w-full gap-4 lg:gap-8">

      <%= link_to aikku_access_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "aikku_access/table.png", class:"object-fill w-full pb-9" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku ACCESS 
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Application NO-CODE de base de données en ligne. Vos données métier 'In da Cloud' ! 
              <br><br>
              Permet de créer des collections d'objets métiers variés (Clients, Interventions, Technicien, Frais, Projets, etc.), 
              de les lier entre elles (Clients <-> Interventions <-> Techniciens), et de les partager avec vos collaborateurs.
              <br><br>
              <b>Assistant (IA)</b>; Posez une question à l'Assistant, basée sur les données de vos collections d'objets.
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to camino_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "projets/camino/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku PLAN
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Application Web de gestion de projets, en équipe et en mobilité.
              <br><br>
              Cette application permet de gérer des projets, des tâches, des ressources, 
              des plannings, des documents, des discussions, etc.
          </div>
        </div>
      <% end %>

    </div>

    <div class="flex flex-wrap justify-between w-full gap-4 lg:gap-8">
      <%= link_to aikku_sign_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "emargements/admin.png", class:"object-fill w-full mb-8" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku SIGN
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Feuille de présence numérique
              <br><br>
              Vous souhaitez remplacer vos feuilles de présence papier par une solution numérique, simple et automatique ?
              <br><br>
              Cette application permet de créer des sessions, d'y associer des participants par groupes d'intérêt,
              et leur envoyer automatiquement un lien vers un formulaire de signature
              10 minutes avant le début de la session, ou envoyer un lien au gestionnaire
              uniquement, pour une séance de signatures collective (ex: passage d'une tablette entre participants).
              <br><br>
              Les données collectées peuvent être traitées par une IA pour faire de la détection d'anomalies
              (ex: fausses signatures, usages inhabituels, etc.).
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to planning_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "projets/planning iae-paris/screen_0.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku TEACH 
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Logiciel libre et coopératif de gestion de planification de salles, 
              à l’usage d’établissement de l’enseignement supérieur.
              <br><br>
              De la création des planning à l’édition des feuille d'émargement, 
              en passant par les états de services, 
              cette application assure la gestion complète et collaborative des processus de planification des cours, 
              formation, intervenants, etc.
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <% if false %>
      <%= link_to prestofacto_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <%= image_tag "prestofacto/portail_parent.png", class:"object-fill w-full" %>
          <div class="card-body">
            <hr>
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              Aikku 
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Application de gestion et de facturation des services journaliers.
              <br><br>
              Aide les petites organisations dans la gestion et la facturation de leurs prestations (repas, garderie, activités périscolaires, nuitée d'hébergement, colonie de vacances, etc.).
            </p>
          </div>
        </div>
      <% end %>

      <%= link_to talea_path, class:"flex-1 min-w-fit sm:min-w-min", 'data-turbo': false do %>
        <div class="card shadow hover:shadow-xl cursor-pointer duration-300 bg-white h-full">
          <div class="card-body">
            <%= image_tag "projets/talea2/traffic_cone_3d_by_emilio_gallo.jpg", class:"object-fill mb-6" %>
            <hr class="mt-4">
            <h2 class="card-title text-xl lg:text-2xl text-accent underline underline-offset-8">
              TALEA 2
            </h2>
            <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
              Application de gestion des Interventions
              <br><br>
              L'objectif de cette application est de dématérialiser et de gérer le flux de travail d'un service technique
            </p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</section>