<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-purple-800 mb-6 pt-8 italic">
    <%= title "Aikku ACCESS" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Vos données métier, en ligne et en mobilité" %>
  </h2>
</section>

<div class="mx-4 lg:mx-24 mb-24">
  <p class="text-xl my-12">
    Aikku ACCESS est un gestionnaire d'informations NO-CODE qui vous permet de créer  
    des collections d'objets métiers (ex: Clients, Interventions, Technicien, Frais, Projets, etc.), 
    de les lier (Clients <-> Interventions <-> Techniciens <-> Frais) 
    et de les partager en ligne avec vos collaborateurs
    <br><br>
    <b>Assistant (IA) :</b> Posez une question à l'Assistant, basée sur les données de vos collections d'objets. 
    <br>
    Ex : "<i>Génère-moi les 3 prochaines interventions à prévoir !</i>"  
  </p>

  <h3 class="text-3xl my-8">Pour qui et pour quel usage ?</h3>

  <p class="text-2xl my-4">Data Management</p>
  <p>
    <b>Vous êtes à la recherche d'un outil simple pour gérer vos dossiers, documents, rapport, et vos informations collectées sur le terrain ?</b>
    <br><br>
    Aikku ACCESS a été conçu pour être utilisable sur un smartphone afin de collecter les données au plus près de leur origine et quelle que soit leur nature (Texte, Chiffre, Photo, PDF, etc.). 
    Des données de contexte, comme l'état de la météo, la position GPS, peuvent être acquises automatiquement. 
    Un outil de génération de Graphiques vous permet de visualiser les informations sous la forme d'une courbe ou d'un histogramme.
  </p>

  <p class="text-2xl my-4">Field Service Management (FSM)</p>
  <p>
    <b>Vous êtes une entreprise de service avec des équipes sur le terrain et vous cherchez une méthode de gestion de vos interventions (ex: BTP, SAV, Installation, Maintenance) ?</b>
    <br><br>
    Aikku ACCESS est un gestionnaire d'informations NO-CODE qui vous permet de créer des collections d'objets métiers (ex: Clients, Interventions, Technicien, Frais, Projets, etc.), 
    de les lier (Clients <=> Interventions <=> Techniciens <=> Frais) et de les partager en ligne avec vos collaborateurs, en toute sécurité.
  </p>

  <p class="text-2xl my-4">Project Management</p>
  <p>
    <b>Vous êtes responsable d'une équipe et du bon déroulement d'un programme de projets ?</b>
    <br><br>
    Aikku ACCESS vous permet de créer rapidement, et sans faire une ligne de code, un outil de suivi de l'état de chaque projet, 
    d'être notifié quand un changement d'état important est enregistré, et de voir vos dates d'échéances dans une vue 'Calendrier' 
    ou dans votre agenda personnel (Google Calendar/Outlook/etc.).
  </p>
</div>

<section class="w-full bg-slate-100 text-secondary-content py-24">
  <div class="text-center">
    <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg" data-turbo="false">
      <div id="slide1" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page login.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide5" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide2" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div> 
      <div id="slide2" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Objets.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide1" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide3" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div> 
      <div id="slide3" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Data.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide2" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide4" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Dashboard.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide3" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide5" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
      <div id="slide5" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page AI.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide4" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide1" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="mx-4 lg:mx-24 my-24">
  <h3 class="apps-title">En savoir plus</h3>
  <p>
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://access.aikku.eu/a_propos", class: 'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">Compte de démonstration</h3>
  <p>
    Tester l'application en 
    <%= link_to "mode Invité", "https://access.aikku.eu/fr/users/1/connect_guest_user", class: 'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">Développement</h3>
  <p>
    Aikku ACCESS est développé et maintenu par 
    <%= link_to 'AIKKU SAS', root_path, class:'link' %>.
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer Aikku ACCESS ?
    <%= link_to 'Consultez notre offre de services', contact_path, class:'link' %>.
  </p>
</div>

<%= render partial: 'partials/contact' %>
