<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
    <%= title "Aikku SIGN" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Digital presence sheet" %>
  </h2>
</section>

<div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
  <div id="slide1" class="carousel-item relative w-full">
    <%= image_tag "emargements/admin.png" %>
  </div> 
  <div id="slide2" class="carousel-item relative w-full">
    <%= image_tag "emargements/assemblee_form.png" %>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <%= image_tag "emargements/assemblees.png" %>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <%= image_tag "emargements/signature.png" %>
  </div>
  <div id="slide5" class="carousel-item relative w-full">
    <%= image_tag "emargements/emargements.png" %>
  </div>
  <div id="slide6" class="carousel-item relative w-full">
    <%= image_tag "emargements/maillogs.png" %>
  </div>
  <div id="slide7" class="carousel-item relative w-full">
    <%= image_tag "emargements/audits.png" %>
  </div>
  <div id="slide8" class="carousel-item relative w-full">
    <%= image_tag "emargements/emargements_pdf.png" %>
  </div>
  <div id="slide9" class="carousel-item relative w-full">
    <%= image_tag "emargements/tuto.png" %>
  </div>
  <div id="slide10" class="carousel-item relative w-full">
    <%= image_tag "emargements/organisation_form.png" %>
  </div>
  <div id="slide11" class="carousel-item relative w-full">
    <%= image_tag "emargements/import_form.png" %>
  </div>
  <div id="slide12" class="carousel-item relative w-full">
    <%= image_tag "emargements/tuto_fini.png" %>
  </div>
</div>
<div data-controller="carousel-paginate">
  <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
    <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a> 
    <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a> 
    <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a> 
    <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a> 
    <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a> 
    <a href="#slide6" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">6</a> 
    <a href="#slide7" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">7</a> 
    <a href="#slide8" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">8</a> 
    <a href="#slide9" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">9</a> 
    <a href="#slide10" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">10</a> 
    <a href="#slide11" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">11</a> 
    <a href="#slide12" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">12</a> 
  </div>
</div>

<div class="px-8">
  <p class="text-xl my-12">
    Would you like to replace your paper attendance sheets with a simple and automated digital solution?
    <br><br>
    This application allows you to create sessions, associate participants with them, and automatically send them a link to a signature form 10 minutes before the assembly begins.
    <br><br>
    For enhanced confidentiality, the signature data stored in the database is encrypted
    (<%= link_to "Active Record Encryption", "https://guides.rubyonrails.org/active_record_encryption.html", class:'link', target: '_blank' %>).
    <br><br>
    The collected data can be processed by AI to detect anomalies (e.g., false signatures, unusual usage, etc.).
  </p>

  <h3 class="apps-title">Learn more</h3>
  <p>
    To find out more, please consult us.
  </p>

  <h3 class="apps-title">Development</h3>
  <p>
    Aikku SIGN is developed and maintained by
    <%= link_to 'AIKKU SAS', root_path, class:'link' %>.
  </p>

  <h3 class="apps-title">Support and Services</h3>
  <p>
    Looking for a new feature or want to install Aikku SIGN?
    <%= link_to 'Check out our service offerings', '/en/services', class:'link' %>.
  </p>

  <section id="contact" class="text-center pt-24">
    <h2 class="apps-title">Contact us</h2>
    <p class="text-2xl lg:px-48">
      Our team is dedicated to providing you with solutions perfectly tailored to your needs, along with personalized support and technical assistance available whenever required.
    </p>
    <div class="flex flex-wrap items-center gap-8 mt-24">
      <div class="flex flex-col mx-auto mb-12">
        <%= form_tag(contact_path) do %>
          <div class="flex flex-col gap-2">
            <%= hidden_field_tag :objet, "[Aikku SIGN] Demonstration request" %>
            <%= hidden_field_tag :contenu, "" %>
            <div class="form-control">
              <label class="input-group">
                <span class="text-black">Email</span>
                <%= email_field_tag :email, nil, class: 'input input-bordered w-full', required: true %>
              </label>
            </div>
            <%= recaptcha_tags unless Rails.env.development? %>
            <button class="btn btn-success sm:text-xl max-w-full" data-turbo="false">Ask for a demonstration</button>
          </div>
        <% end %>
      </div>
    </div>
  </section>

</div>