<section class="text-center reveal delay-1 m-14">
  <h1 class="font-black text-6xl text-secondary mb-16 pt-8 italic">
    <%= title "Vos données métier, partout avec vous." %>
  </h1>
    <h3 class="text-lg lg:text-2xl m-24">
    <span class="font-black">Aikku ACCESS</span> est un 
    gestionnaire d'informations NO-CODE
    qui permet de structurer 
    vos données métiers. Vous pouvez créer des collections 
    personnalisées (clients, interventions, techniciens, frais, 
    etc.), établir des liens entre elles pour refléter vos processus réels,
    et partager ces informations en ligne avec vos équipes pour un 
    travail collaboratif fluide.
    </h3>

 
</section>



<div class="footer-wave">
  <svg viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path d="
      M0,60
      Q300,0 600,30
      Q900,60 1200,30
      L1200,60
      L0,60
      Z
    " fill="#1f1f3d"/>
  </svg>
</div>
<section  class="w-full text-center bg-info text-white p-20">
  
  <h2 class="text-secondary font-bold text-xl mb-4">
    Pour qui et pour quels usages ?
  </h2>
  <h2 class="text-3xl lg:text-5xl font-black mb-12">
    Trois <span class="text-gradient">cas d’usage clés</span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mx-8 mt-16 mb-10 md:mt-16">

    <div class="flex flex-col p-6 bg-white rounded-xl ">
      <h3 class="text-2xl font-black my-4 text-center text-accent">
        <i class="fa-solid fa-database fa-lg mr-2"></i>
        Gestion des données</h3>
        <p class="text-gray-700 text-center leading-relaxed">
        Centralisez et gérez toutes vos données terrain depuis votre smartphone.
        Photos, PDF, GPS et données météo sont collectés automatiquement,
        sans effort.
      </p>
    </div>

    <div class="flex flex-col p-6 bg-white rounded-xl ">
      <h3 class="text-2xl font-black my-4 text-center text-accent">
        <i class="fa-solid fa-wrench fa-lg mr-2"></i>
        Gestion des opérations terrain</h3>
        <p class="text-gray-700 text-center leading-relaxed">
        Créez et structurez vos objets métiers (clients, interventions, techniciens, frais),
        reliez-les entre eux et partagez-les facilement avec vos équipes.
      </p>
    </div>

    <div class="flex flex-col p-6 bg-white rounded-xl">
      <h3 class="text-2xl font-black my-4 text-center text-accent">
        <i class="fa-regular fa-calendar-days fa-lg mr-2"></i>
        Gestion de projet</h3>
        <p class="text-gray-700 text-center leading-relaxed">
        Suivez l’avancement de vos projets en temps réel,
        recevez des alertes sur les changements importants et
        visualisez vos échéances via une vue calendrier claire.
      </p>
    </div>

    <div class="flex flex-col p-6 bg-white rounded-xl">
        <h3 class="text-2xl font-black my-4 text-center text-accent">
        <i class="fa-solid fa-brain fa-lg mr-2"></i>
        Assistant IA intégre</h3>
        <p class="text-gray-700 text-center leading-relaxed">
        Posez vos questions directement sur vos données et obtenez des réponses actionnables instantanément.
        <em>Exemple : « Génère les 3 prochaines interventions prioritaires. »</em>
        </p>
    </div>

  </div>
</section>
<div class="footer-wave">
  <svg viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path d="
      M0,0
      Q300,60 600,30
      Q900,0 1200,30
      L1200,0
      L0,0
      Z
    " fill="#1f1f3d"/>
  </svg>
</div>


<section class="w-full py-24 px-6 lg:px-20 bg-slate-50">

  <div class="text-center mb-16">
    <h2 class="text-accent font-bold text-xl">
      FONCTIONNALITÉS PRINCIPALES </h2>
    <h3 class="text-3xl lg:text-5xl font-black mt-4">
      Une plateforme, <span class="text-gradient">toutes vos opérations</span>
    </h3>
  </div>

  <div class="grid lg:grid-cols-2 gap-10 items-center">

    <div class="space-y-8">

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-solid fa-list fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Collections d’objets</h3>
          <p class="text-gray-600">
            Créez vos propres structures de données sans code :
            texte, nombres, photos, PDF…
          </p>
        </div>
      </div>

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-solid fa-link fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Relations entre données</h3>
          <p class="text-gray-600">
            Connectez vos entités : Clients, Interventions,
            Techniciens et Frais.
          </p>
        </div>
      </div>

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-solid fa-users fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Collaboration en temps réel</h3>
          <p class="text-gray-600">
            Partagez et synchronisez vos données avec vos équipes,
            sur tous les appareils.
          </p>
        </div>
      </div>

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-solid fa-chart-bar fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Visualisation & analytics</h3>
          <p class="text-gray-600">
            Transformez vos données en graphiques clairs
            pour une meilleure prise de décision.
          </p>
        </div>
      </div>

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-solid fa-location-dot fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Données terrain automatiques</h3>
          <p class="text-gray-600">
            GPS, météo et contexte collectés automatiquement
            lors des interventions.
          </p>
        </div>
      </div>

      <div class="flex gap-4 rounded-xl p-4 border border-gray/30">
        <i class="fa-regular fa-calendar fa-lg text-accent mt-3"></i>
        <div>
          <h3 class="text-xl font-black">Vue calendrier</h3>
          <p class="text-gray-600">
            Planifiez et suivez vos échéances avec synchronisation
            Google, Outlook et Apple.
          </p>
        </div>
      </div>

    </div>

    <div id="carousel" class="w-full carousel min-w-16 sm:w-3/4 mx-auto shadow-lg rounded-xl" data-turbo="false">
      <div id="slide1" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page login.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide5" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide2" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div> 
      <div id="slide2" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Objets.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide1" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide3" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div> 
      <div id="slide3" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Data.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide2" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide4" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page Dashboard.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide3" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide5" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
      <div id="slide5" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/Aikku Access page AI.png" %>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#slide4" class="btn btn-circle btn-primary">❮</a>
          <a href="#slide1" class="btn btn-circle btn-primary">❯</a>
        </div>
      </div>
    </div>
</div>

  </div>

</section>






