<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-purple-800 mb-6 pt-8 italic">
    <%= title "Aikku ACCESS" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Vos données métier, en ligne et en mobilité" %>
  </h2>
</section>

<% if false %>
  <div class="text-center">
    <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
      <div id="slide1" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/table.png" %>
      </div> 
      <div id="slide2" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/calendar.png" %>
      </div>
      <div id="slide3" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/objets.png" %>
      </div>
      <div id="slide4" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/attributs.png" %>
      </div>
      <div id="slide5" class="carousel-item relative w-full">
        <%= image_tag "aikku_access/filtres.png" %>
      </div>
    </div>
    <div data-controller="carousel-paginate">
      <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
        <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a> 
        <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a> 
        <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a> 
        <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a> 
        <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a> 
      </div>
    </div>
  </div>
<% end %>

<div class="mx-4 lg:mx-24 mb-24">
  <p class="text-xl my-12">
    Vous êtes une entreprise de service avec des équipes sur le terrain (ex: BTP, SAV, Installation, Maintenance, etc.) et
    vous cherchez une méthode de gestion des interventions ou de field service management (FSM) ?
    <br><br>
    Aikku ACCESS est un gestionnaire d'informations NO-CODE qui vous permet de créer  
    des collections d'objets métiers (ex: Clients, Interventions, Technicien, Frais, Projets, etc.), 
    de les lier (Clients <==> Interventions <==> Techniciens <==> Frais) 
    et de les partager en ligne avec vos collaborateurs.
  </p>


  <h3 class="apps-title">En savoir plus</h3>
  <p>
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://access.aikku.eu/a_propos", class: 'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">Développement</h3>
  <p>
    Aikku ACCESS est développé et maintenu par 
    <%= link_to 'AIKKU SAS', root_path, class:'link' %>.
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer Aikku ACCESS ?
    <%= link_to 'Consultez notre offre de services', contact_path, class:'link' %>.
  </p>
</div>

<%= render partial: 'partials/contact' %>