<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
    <%= title "Aikku ACCESS" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Your business, online and mobility data" %>
  </h2>
</section>
<div class="px-8">
  <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
    <div id="slide1" class="carousel-item relative w-full">
      <%= image_tag "aikku_access/table.png" %>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
      <%= image_tag "aikku_access/calendar.png" %>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
      <%= image_tag "aikku_access/objets.png" %>
    </div>
    <div id="slide4" class="carousel-item relative w-full">
      <%= image_tag "aikku_access/attributs.png" %>
    </div>
    <div id="slide5" class="carousel-item relative w-full">
      <%= image_tag "aikku_access/filtres.png" %>
    </div>
  </div>
  <div data-controller="carousel-paginate">
    <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
      <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a>
      <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a>
      <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a>
      <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a>
      <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a>
    </div>
  </div>
  <p class="text-xl mt-12">
    Are you a service company with teams in the field (e.g., construction, customer service, installation, maintenance, etc.) looking for a method to manage interventions or field service management (FSM)?
    <br>
    <br>
    Aïkku ACCESS is a NO-CODE information management tool that allows you to create collections of business objects (e.g., Clients, Interventions, Technicians, Expenses, Projects, etc.), link them together (Clients <==> Interventions <==> Technicians <==> Expenses) and share them online with your collaborators.
        </p>
        <p class="mt-5">
          For more information, please refer to
          <%= link_to "the user guide", "https://access.aikku.eu/en/a_propos", class: 'link', target: '_blank' %>.
        </p>
        <h3 class="apps-title">Learn more</h3>
        <p>
          To find out more, please consult us.
        </p>
        <h3 class="apps-title">Development</h3>
        <p>
          Aïkku ACCESS is developed and maintained by
          <%= link_to 'AIKKU SAS', root_path, class:'link' %>.
        </p>
        <h3 class="apps-title">Support and Services</h3>
        <p>
          Do you need a new feature or want to install Aïkku ACCESS?
          <%= link_to 'Check out our service offerings', '/en/services', class:'link' %>.
        </p>
        <section id="contact" class="text-center pt-24">
          <h2 class="apps-title">Contact us</h2>
          <p class="text-2xl lg:px-48">
            Our team is dedicated to providing you with solutions perfectly tailored to your needs, along with personalized support and technical assistance available whenever required.
          </p>
          <div class="flex flex-wrap items-center gap-8 mt-24">
            <div class="flex flex-col mx-auto mb-12">
              <%= form_tag(contact_path) do %>
                <div class="flex flex-col gap-2">
                  <%= hidden_field_tag :objet, "[Aikku ACCESS] Demonstration request" %>
                  <%= hidden_field_tag :contenu, "" %>
                  <div class="form-control">
                    <label class="input-group">
                      <span class="text-black">Email</span>
                      <%= email_field_tag :email, nil, class: 'input input-bordered w-full', required: true %>
                    </label>
                  </div>
                  <%= recaptcha_tags unless Rails.env.development? %>
                  <button class="btn btn-success sm:text-xl max-w-full" data-turbo="false">Ask for a demonstration</button>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
