<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
</head>

<style>
  #camino li {
    list-style-type: none;
    padding-top: 3px;
    padding-left: 1em;
    text-indent: -0.7em;
    margin: 0 0 3px 0;
  }
  #camino li:before {
    content: "• ";
    color: darkred;
  }
</style>

<section>
  <div class="text-center">
    <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
      <%= title "Aikku PROJECTS" %>
    </h1>
    <h2 class="text-lg xl:text-2xl px-6">
      <%= description "Manage your projects, as a team and mobility" %>
    </h2>
  </div>
</section>

  <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
    <div id="slide1" class="carousel-item relative w-full">
      <%= image_tag "camino/projets.png" %>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
      <%= image_tag "camino/projet.png" %>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
      <%= image_tag "camino/todolist.png" %>
    </div>
    <div id="slide4" class="carousel-item relative w-full">
      <%= image_tag "camino/todo.png" %>
    </div>
    <div id="slide5" class="carousel-item relative w-full">
      <%= image_tag "camino/agenda.png" %>
    </div>
    <div id="slide6" class="carousel-item relative w-full">
      <%= image_tag "camino/documents.png" %>
    </div>
    <div id="slide7" class="carousel-item relative w-full">
      <%= image_tag "camino/tables.png" %>
    </div>
    <div id="slide8" class="carousel-item relative w-full">
      <%= image_tag "camino/dashboard.png" %>
    </div>
    <div id="slide9" class="carousel-item relative w-full">
      <%= image_tag "camino/user.png" %>
    </div>
  </div>
  <div data-controller="carousel-paginate">
    <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
      <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a> 
      <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a> 
      <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a> 
      <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a> 
      <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a> 
      <a href="#slide6" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">6</a> 
      <a href="#slide7" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">7</a> 
      <a href="#slide8" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">8</a> 
      <a href="#slide9" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">9</a> 
    </div>
  </div>

<div class="px-8 mt-12">
  <div id="camino" class="text-xl">

    <h3 class="apps-title">
      Manage your projects, as a team and on the go (Intervention tracking, CMMS, etc.)
    </h3>
    <ul>
      <li>Break your projects down into to-do lists</li>
      <li>Invite your contacts to participate in the projects</li>
      <li>Assign tasks to participants and set deadlines</li>
      <li>Track participant activity by subscribing to notifications (completed work, new comments, additions/changes, etc.)</li>
      <li>Create forms to collect additional data related to your projects (inventory, intervention reports, etc.)</li>
    </ul>


    <h3 class="apps-title">Features</h3>
    <div>
      <ul>
        <li>Quickly create projects from your <b>project templates</b></li>
        <li>Choose the <b>workflow</b> (project execution type: Free or Linear)</li>
        <li>A <b>journal</b> logs participant activity minute by minute, documenting all modifications</li>
        <li>An <b>agenda</b> allows you to visualize overall deadlines</li>
        <li>A <b>'To-do'</b> list shows pending, outstanding, or completed tasks by participant</li>
        <li>Participants can engage in <b>discussions</b> about tasks</li>
        <li>An <b>email notification system</b> informs project participants</li>
        <li>Group projects by <b>Keywords</b></li>
        <li>Assign a <b>color</b> to each project for better information tracking</li>
      </ul>
    </div>

    <h3 class="apps-title">Forms & Data Tables</h3>
    <p>
      Create your own forms to collect additional information related to your projects (time spent, resources used, intervention reports, etc.). The data is collected in tables that you can later export to Excel.
    </p>
  </div>

  <p class="mt-5">
    For more information, please refer to
    <%= link_to "the user guide", 'https://projects.aikku.eu/about', class: 'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">Demonstration</h3>
  <p>
    Want to try the product?
    <%= link_to "Launch the demo instance", 'https://projects.aikku.eu', class:'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">Development</h3>
  <p>
    Aikku PROJECTS is developed and maintained by
    <%= link_to 'AIKKU SAS', root_path, class: 'link' %>.
  </p>

  <h3 class="apps-title">Support and Services</h3>
  <p>
    Need a new feature or want to install Aikku PROJECTS on your Linux server?
    <%= link_to 'Check out our service offerings', '/en/services', class: 'link' %>.
  </p>
</div>