<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
</head>

<style>
  #camino li {
    list-style-type: none;
    padding-top: 3px;
    padding-left: 1em;
    text-indent: -0.7em;
    margin: 0 0 3px 0;
  }
  #camino li:before {
    content: "• ";
    color: darkred;
  }
</style>

<section>
  <div class="text-center">
    <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
      <%= title "Aikku PROJECTS" %>
    </h1>
    <h2 class="text-lg xl:text-2xl px-6">
      <%= description "Gérer vos projets, en équipe et en mobilité" %>
    </h2>
  </div>
</section>

  <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
    <div id="slide1" class="carousel-item relative w-full">
      <%= image_tag "camino/projets.png" %>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
      <%= image_tag "camino/projet.png" %>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
      <%= image_tag "camino/todolist.png" %>
    </div>
    <div id="slide4" class="carousel-item relative w-full">
      <%= image_tag "camino/todo.png" %>
    </div>
    <div id="slide5" class="carousel-item relative w-full">
      <%= image_tag "camino/agenda.png" %>
    </div>
    <div id="slide6" class="carousel-item relative w-full">
      <%= image_tag "camino/documents.png" %>
    </div>
    <div id="slide7" class="carousel-item relative w-full">
      <%= image_tag "camino/tables.png" %>
    </div>
    <div id="slide8" class="carousel-item relative w-full">
      <%= image_tag "camino/dashboard.png" %>
    </div>
    <div id="slide9" class="carousel-item relative w-full">
      <%= image_tag "camino/user.png" %>
    </div>
  </div>
  <div data-controller="carousel-paginate">
    <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
      <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a> 
      <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a> 
      <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a> 
      <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a> 
      <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a> 
      <a href="#slide6" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">6</a> 
      <a href="#slide7" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">7</a> 
      <a href="#slide8" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">8</a> 
      <a href="#slide9" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">9</a> 
    </div>
  </div>

<div class="px-8 mt-12">
  <div id="camino" class="text-xl">

    <h3 class="apps-title">
      Gérez vos projets, en équipe et en mobilité (Suivi d'interventions, GMAO, etc...)
    </h3>
    <ul>
      <li>Découpez vos projets en listes de choses à faire</li>
      <li>Invitez vos contacts à participer aux projets</li>
      <li>Assignez aux participants les choses à faire, fixez des échéances</li>
      <li>Suivez l'activité des participants en vous abonnant aux notifications (travaux terminés, nouveaux commentaires, ajout/modification...)</li>
      <li>Créez des formulaires pour collecter des données complémentaires à vos projets (inventaire, rapport d'intervention, etc.)</li>
    </ul>


    <h3 class="apps-title">Fonctionnalités</h3>
    <div>
      <ul>
        <li>Création rapide de projets à partir de vos <b>modèles de projets</b></li>
        <li>Choix du <b>workflow</b> (type de déroulement de projet, Libre ou Linéaire)</li>
        <li>Un <b>journal</b> recense, minute par minute, l'activité des participants. Toutes les modifications y sont consignées</li>
        <li>Un <b>agenda</b> permet de visualiser les échéances globales</li>
        <li>La <b>'To-do'</b> liste les choses à faire, en attente, en souffrance ou faites par participant</li>
        <li>Les participants peuvent mener des <b>discussions</b> autour de choses à faire</li>
        <li>Un système de <b>notification</b> par email informe les participants du projet</li>
        <li>Regroupement des projets par <b>mots-clés</b></li> 
        <li>Une <b>couleur</b> pour chaque projet afin de mieux repérer les informations s'y rapportant</li>
      </ul>
    </div>

    <h3 class="apps-title">Formulaires & Tables de données</h3>
    <p>
      Créez vos propres formulaires pour collecter des informations complémentaires à vos projets (temps passé, ressources consommées, rapports d'intervention, etc.).
      Les données sont collectées dans des tables de données que vous pouvez ensuite exporter vers Excel.
    </p>
  </div>

  <p class="mt-5">
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", 'https://projects.aikku.eu/about', class: 'link', target: '_blank' %>.
  </p>

  <h3 class="apps-title">En savoir plus</h3>
  <p>
    Pour en savoir plus, veuillez nous consulter.
  </p>

  <h3 class="apps-title">Développement</h3>
  <p>
    Aikku PROJECTS est développé et maintenu par 
    <%= link_to 'AIKKU SAS', root_path, class: 'link' %>.
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer Aikku PROJECTS ?
    <%= link_to 'Consultez notre offre de services', '/services', class: 'link' %>.
  </p>

  <section id="contact" class="text-center pt-24">
    <h2 class="apps-title">Contactez-nous</h2>
    <p class="text-2xl lg:px-48">
      Notre équipe s'engage à vous proposer des solutions parfaitement adaptées à vos besoins, un accompagnement humain et un support technique disponible en cas de besoin.
    </p>
    <div class="flex flex-wrap items-center gap-8 mt-24">
      <div class="flex flex-col mx-auto mb-12">
        <%= form_tag(contact_path) do %>
          <div class="flex flex-col gap-2">
            <%= hidden_field_tag :objet, "[Aikku PROJECTS] Demande de démonstration" %>
            <%= hidden_field_tag :contenu, "" %>
            <div class="form-control">
              <label class="input-group">
                <span class="text-black">Email</span>
                <%= email_field_tag :email, nil, class: 'input input-bordered w-full', required: true %>
              </label>
            </div>
            <%= recaptcha_tags unless Rails.env.development? %>
            <button class="btn btn-success sm:text-xl max-w-full" data-turbo="false">Demander une démonstration</button>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>