<%= turbo_frame_tag "main_frame" do %>
  <section class="text-center">
    <h1 class="font-black text-4xl text-accent mb-6 pt-8 italic">
    <%= title "Blog" %>
    </h1>
    <h2 class="text-lg xl:text-2xl px-6">
      <%= description "Nos dernières publications sur des sujets très variés :" %>
    </h2>
  </section>

  <%= turbo_frame_tag "results_frame" do %>
    <div class="invisible lg:visible mx-auto max-w-max m-16 mt-6 lg:px-24">
      <%= render TagCloudComponent.new(tags: @tags) %>
    </div>

    <%= render PostComponent.with_collection(@posts) %>
  <% end %>
<% end %>