<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
    <%= title "CrystalData" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Vos données métier, en ligne et en mobilité" %>
  </h2>
</section>

<div class="px-8">
  <div id="carousel" class="carousel min-w-16 sm:w-3/4 mx-auto shadow-lg">
    <div id="slide1" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/accueil.png" %>
    </div> 
    <div id="slide2" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/table.png" %>
    </div> 
    <div id="slide3" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/calendar.png" %>
    </div>
    <div id="slide4" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/objets.png" %>
    </div>
    <div id="slide5" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/attributs.png" %>
    </div>
    <div id="slide6" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/partages.png" %>
    </div>
    <div id="slide7" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/filtres.png" %>
    </div>
    <div id="slide8" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/statistiques.png" %>
    </div>
    <div id="slide9" class="carousel-item relative w-full">
      <%= image_tag "crystaldata/profil.png" %>
    </div>
  </div>
  <div data-controller="carousel-paginate">
    <div class="flex flex-wrap justify-center w-full gap-2 mt-4">
      <a href="#slide1" class="btn btn-accent hover:btn-accent btn-xs carousel-page" data-action="click->carousel-paginate#activate">1</a> 
      <a href="#slide2" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">2</a> 
      <a href="#slide3" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">3</a> 
      <a href="#slide4" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">4</a> 
      <a href="#slide5" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">5</a> 
      <a href="#slide6" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">6</a> 
      <a href="#slide7" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">7</a> 
      <a href="#slide8" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">8</a> 
      <a href="#slide9" class="btn btn-primary btn-outline btn-xs carousel-page hover:btn-accent" data-action="click->carousel-paginate#activate">9</a> 
    </div>
  </div>

  <p class="text-xl mt-12">
		Vous êtes une entreprise de service avec des équipes sur le terrain (ex: BTP, SAV, Installation, Maintenance, etc.) et
		vous cherchez une méthode de gestion des interventions ou de field service management (FSM) ?
		<br><br>
		CrystalData est un gestionnaire d'informations NO-CODE qui vous permet de créer  
		des collections d'objets métiers (ex: Clients, Interventions, Technicien, Frais, Projets, etc.), 
		de les lier (Clients <==> Interventions <==> Techniciens <==> Frais) 
		et de les partager en ligne avec vos collaborateurs.
	</p>

  <p class="mt-5">
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://crystal-data.philnoug.com/a_propos", class: 'link', target: '_blank' %>
  </p>

  <h3 class="apps-title">Démonstration</h3>
  <p>
    Envie de tester l'application ?
    <%= link_to "Lancer l'instance de démonstration", 'https://crystal-data.philnoug.com', class:'link', target: '_blank' %>
  </p>

  <h3 class="apps-title">Projet libre (open-source)</h3>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/crystal-data7", "https://github.com/philippe-nougaillon/crystal-data7", class:'link', target: '_blank' %>
  </p> 

  <h3 class="apps-title">Développement</h3>
  <p>
    CrystalData est développé et maintenu par 
    <%= link_to 'Aikku', root_path, class:'link' %>
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer CrystalData sur votre serveur Linux ?
    <%= link_to 'Consultez notre offre de services', '/services', class:'link' %>
  </p>
</div>
