<%
  set_meta_tags(
    title: "Bienvenue"
  )
%>

<div class="hero min-h-screen top-0 -mt-12" style="background-image: url(<%= asset_path('background.webp') %>)">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content flex-col p-2 sm:p-4">
    <p class="mb-5 text-2xl">Notre ambition</p>
    <h1 class="mb-5 text-4xl lg:text-5xl font-black">
      <%= description "Traduire les besoins clients en une solution simple, robuste, pérenne et parfaitement adaptée." %>
    </h1>
  </div>
</div>

<section id="who" class="w-full text-center text-4xl lg:text-5xl py-24">
  Nous avons développé plusieurs logiciels,
  <br>
  en assurons la maintenance et l'évolution
  <br>
  pour le compte d'entités publiques et d'un établissement de l'enseignement supérieur
</section>
<section id="aikku_plann" class="w-full text-center bg-secondary text-secondary-content py-24">
  <h2 class="text-5xl font-black">Organisme de formation ?</h2>
  <p class="text-2xl">
    Gérez toutes vos formations et vos salles avec une solution simple, abordable et personnalisable
  </p>
  <%= image_tag "misc/amphi_iae.jpg", width: "650px", class: 'mx-auto mt-8' %>
  <%= link_to 'En savoir plus...', aikku_plann_path, class: 'text-white btn lg:btn-lg btn-outline mt-12' %>
</section>

<section id="aikku_coopcom" class="w-full text-center py-24">
  <h2 class="text-5xl font-black">Communauté de communes</h2>
  <p class="text-2xl">
    Gérez facilement la coopération et la mutualisation des services et ressources de votre intercommunalité
  </p>
  <%= image_tag "communauté-communes.jpg", width: "650px", class: 'mx-auto mt-8' %>
  <%= link_to 'En savoir plus...', logiciels_path, class: 'btn lg:btn-lg btn-outline btn-white mt-12' %>
</section>

<section id="aikku_access" class="w-full text-center bg-secondary text-secondary-content py-24">
  <h2 class="text-5xl font-black">DSI</h2>
  <p class="text-2xl">
    Vos données métier, en ligne et en mobilité
  </p>
  <%= image_tag "dsi.webp", width: "650px", class: 'mx-auto mt-8' %>
  <%= link_to 'En savoir plus...', aikku_access_path, class: 'text-white btn lg:btn-lg btn-outline mt-12' %>
</section>


<section id="clients" class="flex flex-col justify-center min-h-screen">
  <h2 class="text-center text-4xl lg:text-5xl font-black text-accent mt-24 mb-12">
    Ils nous ont fait confiance : pourquoi pas vous ?
  </h2>
  <div class="flex flex-wrap justify-around items-center gap-16 mb-16">
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 2) do %>
        <%= image_tag "logos/2.png", class:"mx-auto" %>
      <% end %>
    </div>
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 1) do %>
        <%= image_tag "logos/1.png", class:"mx-auto" %>
      <% end %>
    </div>
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 4) do %>
        <%= image_tag "logos/4.png", class:"mx-auto" %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-wrap justify-around items-center gap-16">
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 9) do %>
        <%= image_tag "logos/9.png", class:"mx-auto" %>
      <% end %>
    </div>
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 8) do %>
        <%= image_tag "logos/8.png", class:"mx-auto" %>
      <% end %>
    </div>
    <div class="w-64 rounded">
      <%= link_to nos_clients_path(anchor: 5) do %>
        <%= image_tag "logos/5.png", class:"mx-auto" %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center">
    <%= link_to 'En savoir plus', nos_clients_path, class: 'btn lg:btn-lg btn-outline btn-primary mx-auto mt-12' %>
  </div>
</section>