<%
  set_meta_tags(
    title: "Bienvenue"
  )
%>

<div class="hero min-h-screen top-0" style="background-color:rgb(31, 31, 61)">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center text-neutral-content flex-col p-2 sm:p-4">
    <h1 class="mb-5 text-4xl lg:text-5xl font-black">
      <%# description "Le digital au service de vos besoins" %>
      Le <span class="text-gradient">digital</span> au service de vos besoins
    </h1>
    <p class="text-xl lg:text-2xl text-primary-content">
      Aïkku traduit les besoins clients en une solution simple, robuste, pérenne et parfaitement adaptée.
      Découvrez nos logiciels adaptés aux le compte d'entités publiques, privées, et aux établissement de l'enseignement supérieur
    </p>
    <%= link_to 'En savoir plus...', root_path(anchor: 'aikku_plann'), class: 'btn lg:btn-lg btn-accent text-gradient hover:!text-white hover:border-none mt-12 shadow-lg' %>
  </div>
</div>

<section id="aikku_plann" class="w-full text-center text-secondary-content py-24" style="background-color: #5681c9">
  <h2 class="text-5xl">Vous êtes un <b>organisme de formation</b> ?</h2>
  <p class="text-2xl my-8">
    Gérez toutes vos formations et vos salles avec une solution simple, abordable et personnalisable
  </p>
  <%= image_tag "misc/students.jpg", width: "650px", class: 'mx-auto rounded', alt: 'Étudiants' %>
  <%= link_to 'En savoir plus...', aikku_plann_path, class: 'btn lg:btn-lg btn-accent btn-outline !text-black border-primary hover:!text-white hover:border-none mt-12 shadow-lg' %>
</section>

<section id="aikku_coopcom" class="w-full text-center py-24" style="background-color: #6161b9">
  <h2 class="text-5xl">Vous êtes une <b>communauté de communes, un EPCI</b> ?</h2>
  <p class="text-2xl my-8">
    Gérez facilement la coopération et la mutualisation des services et ressources de votre intercommunalité
  </p>
  <%= image_tag "misc/communauté-communes.jpg", width: "650px", class: 'mx-auto rounded shadow-xl', alt: 'Village' %>
  <%= link_to 'En savoir plus...', 'https://www.coopcom.fr', class: 'btn lg:btn-lg btn-outline btn-white mt-12' %>
</section>

<section id="aikku_access" class="w-full text-center text-secondary-content py-24" style="
">
  <h2 class="text-5xl">Vous êtes <b>DSI / Data Scientist</b> ?</h2>
  <p class="text-2xl my-8">
    Gérez vos données métier, en ligne et en mobilité
  </p>
  <%= image_tag "misc/dsi.webp", width: "650px", class: 'mx-auto rounded', alt: 'DSI / Data Scientist qui travaille' %>
  <%= link_to 'En savoir plus...', aikku_access_path, class: 'text-white btn lg:btn-lg btn-outline mt-12' %>
</section>


<section id="clients" class="flex flex-col justify-center min-h-screen">
  <h2 class="text-center text-4xl lg:text-5xl font-black text-accent mt-24 mb-24">
    Ils nous font confiance
  </h2>
  <div class="flex flex-wrap justify-center items-center gap-32 mb-16">
    <div class="w-64 rounded">
      <%= image_tag "logos/1.png", class:"mx-auto", alt: 'Logo IAE Paris-Sorbonne' %>
    </div>
    <div class="w-64 rounded">
      <%= image_tag "logos/8.png", class:"mx-auto", alt: 'Logo GROHE' %>
    </div>
    <div class="w-64 rounded">
      <%= image_tag "logos/logo-infogene.svg", class:"mx-auto", alt: 'Logo Infogene' %>
    </div>
  </div>
  <div class="flex justify-center">
    <% link_to 'En savoir plus', nos_clients_path, class: 'btn lg:btn-lg btn-outline btn-primary mx-auto mt-12' %>
  </div>
</section>

<%= render partial: 'partials/contact' %>