
<section id="mention_légales_content">
  <h1 class="font-black text-5xl lg:text-6xl text-accent mb-6 pt-8 italic">
    <%= title "Mentions légales" %> 
  </h1>
  <h2 class="text-xl font-black mt-8 mb-4">
    1. Site editor
  </h2>
  
  <p class="mb-4">
    <b><%= @sitename %></b>

    <br><br>
    Director of publication: Philippe Nougaillon<br>
    <br>

    Headquarters:
    <br><br>
    AIKKU SAS
    <br>
    Tour CB21/LA DÉFENSE 
    <br>
    16 PLACE DE L'IRIS
    <br>
    92400 COURBEVOIE
    <br>
    FRANCE
    <br><br>

    SIRET : 384 396 719 00047
    <br><br>
    
    Contact : <%= mail_to "contact@aikku.eu", class:"link" %>
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    2. Design and development
  </h2>
  <p class="mb-4">
    Creation of the site in 2024
    <br>
    This site was designed and developed by ourselves in Ruby on Rails.
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    3. Hosting
  </h2>
  <p class="mb-4">
    <strong>GANDI SAS</strong>
    <br>
    63-65 boulevard Masséna
    <br>
    75013 Paris
    <br>
    FRANCE
    <br><br>
    Contact : <%= link_to "gandi.net", "https://www.gandi.net/fr", target: '_blank', class:'link' %>
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    2024 © <%= @sitename %> - All rights reserved
  </h2>
</section>