<%= turbo_frame_tag "main_frame" do %>
<section>
  <h1 class="font-black text-5xl lg:text-6xl text-center text-accent mb-6 pt-8 italic">
    <%= title "Clients" %>
  </h1>

  <%= turbo_frame_tag "results_frame" do %>
    <div class="invisible lg:visible mx-auto max-w-max m-16 mt-6 lg:px-24">
      <%= render(TagCloudComponent.new(tags: @tags)) %>
    </div>

    <div class="my-6">

      <%= render(ClientComponent.with_collection(@clients))%>

      <% if @clients.count == Client.all.count %>
        <p class="my-6">
          <p class="font-black text-3xl text-accent mb-6">
            Et aussi :
          </p>
          Bluelinea,
          Chubb,
          A.C.S.C,
          Expertise-Ottavi,
          NOOS/Numericable,
          Kuoni,
          Ucopia…
        </p>
      <% end %>
    </div>
  <% end %>
</section>
<% end %>