<div class="hero mt-12">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8">
    <%= link_to "https://maps.app.goo.gl/zZbDTJ6knMdzk1wK7", target: "_blank", class:'flex-1' do %>
      <%= image_tag 'CB21-la-defense-by-covivio-bassin-takis.jpg', class: 'max-w-xs sm:max-w-full rounded-lg shadow-2xl opacity-80' %>
    <% end %>

    <div class="flex-1">
      <h1 class="text-4xl lg:text-5xl text-center lg:text-left font-black text-accent my-6 italic">
        <%= title "About us" %>
      </h1>
      <h2 class="text-2xl">
        <%= description "Aikku is a company that specializes in the digital transformation of organizations by
        developing scalable platforms tailored to the needs of our customers." %>
      </h2>
   </div>
  </div>
</div>

<section class="hero min-h-screen">
  <div>
    <div class="reveal">
      <h2 class="text-4xl lg:text-5xl text-center font-black text-accent mt-24">
        Our motto:
      </h2>

      <h3 class="text-2xl lg:text-3xl text-center font-black text-accent my-6">
        AI for You
      </h3>
            
      <p class="text-xl mt-6 mb-3">
        Digital transformation and/or implementation of a new platform is often accompanied by an evolution of the business process ...
        <br>
        The data and documents being available for all employees at the same time, regardless of the distance, has transformed working methods.
        <br><br>
        To add the power of an artificial intelligence, will maximize optimization of the business process, with either a gain in speed, or in quality, or in resources and even the three at a time.
        <br><br>
        It is important to design and configure the application and the choice of AI with business teams in order to be adapted to the company and the business.
      </p>
    </div>

    <div class="reveal text-xl">
      <h2 class="text-4xl lg:text-5xl text-center font-black text-accent mt-24 mb-12">
        Awards
      </h2>
      <strong>2010 - Concours Smartphones SNCF/TGV Lab</strong>
      <p>
        Direction of a project to develop a blackberry mobile application that improves the quality of information
        Transmitted by on -board chiefs during journeys.
        For four weeks, on the Paris-Lyon and Paris-Nantes TGV lines, 14 chiefs on board tested seven applications
        with associated smartphones.We have reached second place in the podium.
        Development sponsored by RIM (Research in Motion).
      </p>
      <div class="mt-6">
        <strong>2015 - Vinci/ETF innovation price</strong>
        <br>Management category, Ile de France region.
        <br>Design and realization of a rail maintenance monitoring application (AEMMS).
      </div>
    </div>

    <div id="avis" class="min-h-screen mt-24">
      <h2 class="text-center text-4xl lg:text-5xl font-black text-accent mb-12 reveal">
        Some customer reviews
      </h2>
      <div>
        <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Philippe, of the Aikku team, is a competent developer and passionate about his profession, he created our Ruby portfolio follow -up application several years ago and ensured maintenance and developments thereafter.It’s a pleasure to work with him, I recommend it.
              </cite>
            </div>
            <div>
              <%= link_to "Léa Gheerardyn", "https://www.linkedin.com/in/l%C3%A9a-gheerardyn-26417869/", class:"font-black" %>
              <p>
                IT Project Manager @ Scopelec
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                The Aikku team was listening to us and perfectly responded to our need -
                I recommend.
              </cite>
            </div>
            <div>
              <%= link_to "Christophe Pallandre", "https://www.linkedin.com/in/christophe-pallandre/", class:"font-black" %>
              <p>
                AFD @ Grohe France
              </p>
            </div>
          </div>
          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Listening, responsive and competent.Even on a usual sector of activity, the Aikku team offers and finds suitable solutions.
              </cite>
            </div>
            <div>
              <%= link_to "Clément Hallé", "https://www.linkedin.com/in/cl%C3%A9ment-hall%C3%A9-780949137/", class:"font-black" %>
              <p>
                CEO @ Le T-shirt français
              </p>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg reveal">
          <div>
            <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
            <br>
            <cite>
              I had the opportunity to collaborate with Philippe from the Aikku team on many projects (including a European project).Philippe has always been able to show great professionalism.It combines the qualities of listening, understanding and creativity.
              He perfectly masters the art of translation of customer needs into agile, robust and sustainable solutions.
              It is an outstanding developer and it is always on the lookout for promising technologies, and in particular free solutions.
              Of great modesty, it is very accessible and knows how to show a lot of pedagogy.
              He is a high -level professional who knows how to put herself in tune with the needs expressed.It offers sustainable, reliable solutions and caused the simplicity of the solution to its vision of development.
              A supporter of frugal innovation, it provides its customers original, robust and perfectly adapted solutions.He has a sense of listening and knows how to show great pedagogy in agile steps.It has extensive expertise in various sectors.I mainly know him for the support provided as part of educational information systems.I recommend it without reservation.
            </cite>
          </div>
          <div class="mt-10">
            <%= link_to "Philippe Eynaud", "https://www.linkedin.com/in/philippe-eynaud-3a3ab835/", class:"font-black" %>
            <p>
              Professor in Management Sciences at the IAE of Paris, University Paris 1 Panthéon-Sorbonne
            </p>
            <p>
              Author of
              <%= link_to "'Le management du système d’information dans sa complexité'", 
                          "https://www.amazon.fr/management-syst%C3%A8me-dinformation-dans-complexit%C3%A9/dp/1784055026/ref=sr_1_5?qid=1687595735", class: "link", target: '_blank' %>, (2018), ISTE Editions.  
            </p>
          </div>
        </div>

        <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
          <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16">
            <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
              <div>
                <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
                <br>
                <cite>
                  Philippe, of the Aikku team is someone very educational who taught me a lot.
                  It allowed me to gain confidence, in the event of difficulties,
                  In case of difficulties, he took the time to explain me and help me make a solution by myself.
                  He is also a very involved someone in his work, very up to date on the latest technologies.
                </cite>
              </div>
              <div>
                <%= link_to "Alexandre Cukier", "https://www.linkedin.com/in/alexandre-cukier/", class:"hover:underline font-black", target: '_blank' %>
                <p>
                  Software Developer @ Ridge
                </p>
              </div>
            </div>
          </div>

          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Reliable, ultra competent, committed and persevering, the Aikku team delivers its projects in time with a quality that I have never seen elsewhere.
              </cite>
            </div>
            <div>
              <%= link_to "Adeline M.", "https://www.linkedin.com/in/ameilhoc/", class:"hover:underline font-black", target: '_blank' %>
              <p>
                CEO @ AIRJIN
              </p>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg reveal">
          <div>
            <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
            <br>
            <cite>
              I had the great pleasure of working with the Aikku team on the implementation of the Planning-IAE tool at IAE Paris-Sorbonne and on the development of advanced features.
              How lucky!The Aikku team embodies "the user orientation" that I teach my students ;-)
              It is deeply listening and is able to translate the needs of users into technical characteristics in a very effective and educational way, in the constant concern that the tool is at the service of the user and not the opposite, and in aCo-construction approach.
              Philippe, of the Aikku team, is both reliable and responsive, posed and friendly.
              A perfect collaboration, very pleasant and particularly efficient in terms of process, results and quality of the human relationship.
              Thanks to it, the institution has a very quickly become central tool in its functioning, that teachers, administrators and students naturally appropriated, and at the same time sufficiently agile to adapt to the evolution of needsover the years.
              I recommend without reservation and I hope to have the opportunity to collaborate with them.
            </cite>
          </div>
          <div class="mt-10">
            <%= link_to "Marie-Eve Laporte", "https://www.linkedin.com/in/marieevelaporte/", class:"hover:underline font-black", target: '_blank' %>
            <p>
              Professor, "Innovation Management & Future of Healthcare" research chair
            </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

