<div class="hero mt-12">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8">
    <%= link_to "https://maps.app.goo.gl/zZbDTJ6knMdzk1wK7", target: "_blank", class:'flex-1' do %>
      <%= image_tag 'CB21-la-defense-by-covivio-bassin-takis.jpg', class: 'max-w-xs sm:max-w-full rounded-lg shadow-2xl opacity-80' %>
    <% end %>

    <div class="flex-1">
      <h1 class="text-4xl lg:text-5xl text-center lg:text-left font-black text-accent my-6 italic">
        <%= title "About us" %>
      </h1>
      <h2 class="text-2xl">
        <%= description "Aikku is a consulting firm specializing in digital transformation for organizations and scalable platform development, based in Paris La Défense." %>
      </h2>
   </div>
  </div>
</div>

<section class="hero min-h-screen">
  <div>
    <div class="reveal">
      <h2 class="text-4xl lg:text-5xl text-center font-black text-accent mt-24">
        Our goal:
      </h2>

      <h3 class="text-2xl lg:text-3xl text-center font-black text-accent my-6">
        AI for You
      </h3>
            
      <p class="text-xl mt-6 mb-3">
        Digital transformation and/or the implementation of a new platform often go hand in hand with an evolution of the business process.
        <br>
        With data and documents available to all employees at the same time, regardless of distance, work methods are transformed.
        <br><br>
        Adding the power of Artificial Intelligence enables maximum optimization of the business process, resulting in faster speed, improved quality, better resource efficiency, or even all three at once.
        <br><br>
        It is essential to design and configure the application and select the AI in collaboration with business teams to ensure it is well-suited to the company and the specific business area.
      </p>
    </div>

    <div class="reveal text-xl">
      <h2 class="text-4xl lg:text-5xl text-center font-black text-accent mt-24 mb-12">
        Awards
      </h2>
      <strong>2010 - Concours Smartphones SNCF/TGV Lab</strong>
      <p>
        Direction of a project to develop a blackberry mobile application that improves the quality of information
        Transmitted by on -board chiefs during journeys.
        For four weeks, on the Paris-Lyon and Paris-Nantes TGV lines, 14 chiefs on board tested seven applications
        with associated smartphones.We have reached second place in the podium.
        Development sponsored by RIM (Research in Motion).
      </p>
      <div class="mt-6">
        <strong>2015 - Vinci/ETF innovation price</strong>
        <br>Management category, Ile de France region.
        <br>Design and realization of a rail maintenance monitoring application (AEMMS).
      </div>
    </div>

    <div id="avis" class="min-h-screen mt-24">
      <h2 class="text-center text-4xl lg:text-5xl font-black text-accent mb-12 reveal">
        Some customer reviews
      </h2>
      <div>
        <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Philippe, from the Aikku team, is a skilled developer who is passionate about his work. He created our portfolio tracking application in Ruby on Rails several years ago and has since maintained and evolved it. It is a pleasure to work with him, and I recommend him.
              </cite>
            </div>
            <div>
              <%= link_to "Léa Gheerardyn", "https://www.linkedin.com/in/l%C3%A9a-gheerardyn-26417869/", class:"font-black" %>
              <p>
                IT Project Manager @ Scopelec
              </p>
            </div>
          </div>

          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                The Aikku team was attentive to our needs and responded perfectly to our requirements – I recommend them.
              </cite>
            </div>
            <div>
              <%= link_to "Christophe Pallandre", "https://www.linkedin.com/in/christophe-pallandre/", class:"font-black" %>
              <p>
                CFO @ Grohe France
              </p>
            </div>
          </div>
          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Attentive, responsive, and skilled. Even in an unusual industry sector, the Aikku team proposes and finds suitable solutions.
              </cite>
            </div>
            <div>
              <%= link_to "Clément Hallé", "https://www.linkedin.com/in/cl%C3%A9ment-hall%C3%A9-780949137/", class:"font-black" %>
              <p>
                CEO @ Le T-shirt français
              </p>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg reveal">
          <div>
            <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
            <br>
            <cite>
              I had the opportunity to collaborate with Philippe from the Aikku team on numerous projects (including a European project). Philippe has consistently demonstrated great professionalism. He combines qualities of listening, understanding, and creativity. He perfectly masters the art of translating client needs into agile, robust, and sustainable solutions.
              He is an exceptional developer who is always on the lookout for promising technologies, particularly open-source solutions. With great humility, he is very approachable and demonstrates a lot of pedagogy.
              He is a high-level professional who knows how to align with expressed needs. He proposes enduring, reliable solutions and prioritizes simplicity in his development vision. A proponent of frugal innovation, he provides his clients with original, robust, and perfectly tailored solutions. He has a strong sense of listening and exhibits great pedagogical skills in agile approaches. He has extensive expertise in various sectors. I primarily know him for his support in educational information systems. I recommend him without reservation.
            </cite>
          </div>
          <div class="mt-10">
            <%= link_to "Philippe Eynaud", "https://www.linkedin.com/in/philippe-eynaud-3a3ab835/", class:"font-black" %>
            <p>
              Professor in Management Sciences at the IAE of Paris, University Paris 1 Panthéon-Sorbonne
            </p>
            <p>
              Author of
              <%= link_to "'Le management du système d’information dans sa complexité'", 
                          "https://www.amazon.fr/management-syst%C3%A8me-dinformation-dans-complexit%C3%A9/dp/1784055026/ref=sr_1_5?qid=1687595735", class: "link", target: '_blank' %>, (2018), ISTE Editions.  
            </p>
          </div>
        </div>

        <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
          <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16">
            <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
              <div>
                <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
                <br>
                <cite>
                  Philippe, from the Aikku team, is a very pedagogical person who has taught me a lot. He helped me gain confidence, and in case of difficulties, he took the time to explain things to me and helped me formulate a solution on my own. He is also very committed to his work and keeps up to date with the latest technologies.
                </cite>
              </div>
              <div>
                <%= link_to "Alexandre Cukier", "https://www.linkedin.com/in/alexandre-cukier/", class:"hover:underline font-black", target: '_blank' %>
                <p>
                  Software Developer @ Ridge
                </p>
              </div>
            </div>
          </div>

          <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg reveal">
            <div>
              <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
              <br>
              <cite>
                Reliable, highly skilled, committed, and persistent, the Aikku team delivers its projects on time and with a quality I have never seen elsewhere.
              </cite>
            </div>
            <div>
              <%= link_to "Adeline M.", "https://www.linkedin.com/in/ameilhoc/", class:"hover:underline font-black", target: '_blank' %>
              <p>
                CEO @ AIRJIN
              </p>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg reveal">
          <div>
            <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
            <br>
            <cite>
              I had the great pleasure of working with the Aikku team on the implementation of the Planning-IAE tool at IAE Paris-Sorbonne and on the development of advanced features. What a chance! The Aikku team embodies the 'user orientation' that I teach my students ;-)
              They are deeply attentive and capable of translating user needs into technical specifications in a very effective and pedagogical way, always ensuring that the tool serves the user and not the other way around, and approaching it from a co-construction perspective.
              Philippe, from the Aikku team, is both reliable and responsive, composed and friendly.
              It was a perfect collaboration—very pleasant and particularly effective in terms of processes, results, and the quality of human relations. Thanks to him, the institution now has a tool that quickly became central to its operations, which teachers, administrators, and students naturally adopted, and is agile enough to adapt to evolving needs over the years.
              I recommend them without reservation and hope to have the opportunity to collaborate with them again.
            </cite>
          </div>
          <div class="mt-10">
            <%= link_to "Marie-Eve Laporte", "https://www.linkedin.com/in/marieevelaporte/", class:"hover:underline font-black", target: '_blank' %>
            <p>
              Professor, "Innovation Management & Future of Healthcare" research chair
            </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

