<div class="hero mt-12 mb-24">
  <div class="hero-content flex-col lg:flex-row-reverse gap-8">
    <%= image_tag 'team-working.webp', class: 'max-w-xs sm:max-w-lg rounded shadow-xl', alt: 'Check entre collègues' %>

    <div class="flex-1">
      <h1 class="text-4xl lg:text-5xl text-center lg:text-left font-black text-accent my-6 italic">
        <%= title "Qui sommes-nous ?" %>
      </h1>
      <h2 class="text-2xl">
        <%= description "Aikku est une entreprise de conseil en transformation numérique des organisations et
        développement de plateformes évolutives, basée à Paris La Défense." %>
      </h2>
    </div>
  </div>
</div>


<section class="w-full bg-secondary text-secondary-content py-24">
  <h2 class="text-4xl lg:text-5xl text-center font-black">
    Notre devise :
  </h2>

  <h3 class="text-2xl lg:text-3xl text-center font-black my-6">
    AI for You
  </h3>
        
  <p class="text-xl mt-6 mb-3">
    La transformation digitale et/ou l’implémentation d’une nouvelle plateforme s’accompagne souvent d’une évolution du processus métier...
    <br>
    Les données et les documents étant disponibles pour l’ensemble des collaborateurs au même instant, et ce quelque soit la distance, transforment les méthodes de travail. 
    <br><br>
    Y ajouter la puissance d’une Intelligence Artificielle, va permettre une optimisation maximale du processus métier, avec soit un gain en rapidité, ou en qualité, ou en ressources et voire même les trois à la fois. 
    <br><br>
    Il est important de concevoir et de paramétrer l’application et le choix de l’IA avec les équipes métier afin d’être adapté à l’entreprise et au métier.
  </p>
</section>

<div>
  <h2 class="text-4xl lg:text-5xl text-center font-black text-accent mt-24">
    L'équipe
  </h2>

  <h3 class="text-2xl lg:text-3xl text-center font-black text-accent my-6">
    Une SQUAD pour un service à 360°
  </h3>
        
  <section class="flex flex-col justify-center min-h-screen mb-48">
    <div class="flex flex-col mt-24 gap-12">
      <div class="flex flex-wrap sm:flex-nowrap gap-8">
        <%= image_tag 'partners/pierre-emmanuel.webp', class: 'mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70', alt: 'Pierre-Emmanuel DACQUET' %>
        <div>
          <h4 class="font-black text-2xl text-accent">
            Pierre-Emmanuel DACQUET
          </h4>
          <h5 class="italic text-xl">
            Aka P-E
          </h5>
          <p class="text-justify mt-4">
            Avec une formation complète à la Tech&Code Factory et à la WebSchool Factory, P-E incarne une nouvelle génération de talents numériques, alliant conception, développement et management de l'innovation digitale. Dès sa deuxième année d’études supérieures, il a eu la chance d’être formé en alternance par Philippe NOUGAILLON, un mentor de renom, qui lui a transmis son savoir-faire à travers divers projets concrets.
            Passionné par l’univers du numérique, P-E a à cœur de créer des solutions innovantes et adaptées aux besoins des entreprises. Pour lui, le succès d’un projet digital repose sur une écoute attentive des utilisateurs, une conception centrée sur leurs besoins et une mise en œuvre rigoureuse. Convaincu de l'importance de l'innovation continue, il s’engage à apporter des outils numériques qui non seulement simplifient les processus, mais renforcent également la compétitivité et la résilience des entreprises dans un environnement en constante évolution.

            <%= link_to "https://www.linkedin.com/in/pierre-emmanuel-dacquet" do %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
          </p>
        </div>
      </div>

      <div class="flex flex-col-reverse sm:flex-row flex-wrap sm:flex-nowrap gap-8">
        <div>
          <h4 class="sm:text-right font-black text-2xl text-accent">
            Philippe NOUGAILLON
          </h4>
          <h5 class="sm:text-right italic text-xl">
            Aka Phil
          </h5>
          <p class="text-justify mt-4">
            Entrepreneur, Développeur et Consultant, passionné d'informatique Open-Source, 
            avec une expérience de plus de 30 ans, Phil est adepte des approches 'XP / RAD / AGILE / LEAN / SCRUM'. 
            Phil a mené à bien plus de 50 projets (développement, transformation digitale, rénovation de système d'information)
            et développé 3 applications open-source, tout en continuant à me former. 
            À l'écoute et force de proposition, Phil aime répondre au mieux aux besoins client en livrant (dans les temps) des solutions économiques et adaptées. 
            Et comme il a maintenant plein d'histoires à raconter, Phil s'est engagé dans la formation et le mentorat de jeunes Développeurs et Product Managers (WebSchoolFactory / OpenClassrooms / Simplon).  
            <%= link_to "https://www.linkedin.com/in/philnoug/" do %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
          </p>
          
        </div>
        <%= image_tag 'partners/philippe.webp', class: 'mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70', alt: 'Philippe NOUGAILLON' %>
      </div>

      <div class="flex flex-wrap sm:flex-nowrap gap-8">
        <%= image_tag 'partners/Sebastien.png', class: 'mask mask-hexagon-2 object-contain h-48 w-96 mx-auto grayscale opacity-70', alt: 'Sébastien POURCHAIRE' %>
        <div>
          <h4 class="font-black text-2xl text-accent">
            Sébastien POURCHAIRE
          </h4>
          <h5 class="italic text-xl">
            Aka Seb
          </h5>
          <p class="text-justify mt-4">
            Avec plus de 25 d'expérience dans les systèmes d’informations pour la santé,
            Seb a à cœur d’innover afin d'améliorer les méthodes de travail
            et la productivité par la digitalisation. Pour Seb, une entreprise
            est avant tout une entreprise d’homme et le succès du déploiement
            d’un système d’information passe par un solide accompagnement de l’utilisateur final,
            une formation complète et un support sans faille.
            Seb est convaincu de la nécessité de standardiser les données
            au sein des entreprises quelque soit les différents systèmes utilisés par celles-ci,
            afin que les données puissent être exploitées au maximum de leur possibilité.
            Seb souhaite avec Aikku apporter des solutions aux entreprises qui
            leur permettra d’optimiser leurs ressources afin de faire des économies
            et de leur donner des outils qui leur permettront d'avoir un avantage concurrentiel puissant.
            <%= link_to "https://www.linkedin.com/in/pourchaire" do %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  </section>
</div>

<section class="text-xl bg-secondary text-secondary-content py-24">
  <h2 class="text-4xl lg:text-5xl text-center font-black mb-12">
    Récompenses
  </h2>
  <strong>2010 - Concours Smartphones SNCF/TGV Lab</strong>
  <p>
    Direction d’un projet de développement d’une application mobile BlackBerry qui améliore la qualité de l’information
    transmise par les chefs de bord durant les trajets. 
    Pendant quatre semaines, sur les lignes TGV Paris-Lyon et Paris-Nantes, 14 chefs de bord ont testé sept applications
    avec les smartphones associés. Nous avons atteint la seconde place du podium.
    Développement sponsorisé par RiM (Research in Motion).
  </p>
  <div class="mt-6">
    <strong>2015 - Prix de l’Innovation VINCI/ETF</strong>
    <br>Catégorie Management, région Île de France.
    <br>Conception et réalisation d’une application de suivi de la maintenance ferroviaire (AEMMS).
  </div>
</section>

<section id="avis" class="min-h-screen my-24">
  <h2 class="text-center text-4xl lg:text-5xl font-black text-accent mb-12">
    Témoignages de nos clients
  </h2>
  <div>
    <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg">
      <div>
        <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
        <br>
        <cite>
          J'ai eu l'occasion de collaborer avec Philippe de l'équipe Aikku sur de nombreux projets (dont un projet européen). Philippe a toujours su faire preuve d'un grand professionnalisme. Il allie les qualités d'écoute, de compréhension et de créativité. 
          Il maîtrise parfaitement l'art de la traduction des besoins clients en solutions agiles, robustes et durables.
          C'est un développeur hors pair et il est toujours à l'affût des technologies prometteuses, et notamment des solutions libres. 
          D'une grande modestie, il est très accessible et sait faire preuve de beaucoup de pédagogie.
          C’est un professionnel de haut niveau qui sait se mettre au diapason des besoins exprimés. Il propose des solutions pérennes, fiables et fait primer dans sa vision du développement la simplicité de la solution. 
          Partisan de l’innovation frugale, il fournit à ses clients des solutions originales, robustes et parfaitement adaptées. Il a le sens de l’écoute et sait faire preuve d’une grande pédagogie dans les démarches agiles. Il a une expertise étendue sur des secteurs variés. Je le connais principalement pour l’accompagnement fourni dans le cadre de systèmes d’information pédagogiques. Je le recommande sans réserve.
        </cite>
      </div>
      <div class="mt-10">
        <%= link_to "Philippe Eynaud", "https://www.linkedin.com/in/philippe-eynaud-3a3ab835/", class:"font-black" %>
        <p>
          Professeur en sciences de gestion à l'IAE de Paris, Université Paris 1 Panthéon-Sorbonne
        </p>
        <p>
          Auteur de 
          <%= link_to "'Le management du système d’information dans sa complexité'", 
                      "https://www.amazon.fr/management-syst%C3%A8me-dinformation-dans-complexit%C3%A9/dp/1784055026/ref=sr_1_5?qid=1687595735", class: "link", target: '_blank' %>, (2018), ISTE Editions.  
        </p>
      </div>
    </div>

    <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
      <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16">
        <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg">
          <div>
            <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
            <br>
            <cite>
              Philippe, de l'équipe Aikku est quelqu'un de très pédagogue qui m'a beaucoup appris. 
              Il m'a permis de gagner en confiance, en cas de difficultés,
              en cas de difficultés, il prenait le temps de m'expliquer et de m'aider à formuler une solution par moi-même. 
              C'est aussi quelqu'un de très impliqué dans son travail, très à jour sur les dernières technologies.
            </cite>
          </div>
          <div>
            <%= link_to "Alexandre Cukier", "https://www.linkedin.com/in/alexandre-cukier/", class:"hover:underline font-black", target: '_blank' %>
            <p>
              Software Developer @ Ridge
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg">
        <div>
          <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
          <br>
          <cite>
            Fiable, ultra compétent, engagé et persévérant, l'équipe Aikku délivre ses projets en temps et en heure avec une qualité que je n'ai jamais vu ailleurs.
          </cite>
        </div>
        <div>
          <%= link_to "Adeline M.", "https://www.linkedin.com/in/ameilhoc/", class:"hover:underline font-black", target: '_blank' %>
          <p>
            CEO @ AIRJIN
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-12 p-8 pb-12 bg-white shadow rounded-lg">
      <div>
        <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
        <br>
        <cite>
          J'ai eu le grand plaisir de travailler avec l'équipe Aikku sur la mise en place de l'outil Planning-IAE à l'IAE Paris-Sorbonne et sur le développement de fonctionnalités avancées. 
          Quelle chance! L'équipe Aikku incarne "l'orientation utilisateur" que j'enseigne à mes étudiants ;-) 
          Il est profondément à l'écoute et est capable de traduire les besoins des utilisateurs en caractéristiques techniques de façon très efficace et pédagogique, dans le souci constant que l'outil soit au service de l'utilisateur et non pas le contraire, et dans une approche de co-construction. 
          Philippe, de l'équipe Aikku, est à la fois fiable et réactif, posé et sympathique. 
          Une collaboration parfaite, très agréable et particulièrement performante en termes de process, de résultats et de qualité de la relation humaine. 
          Grâce à lui, l'institution dispose d'un outil très vite devenu central dans son fonctionnement, que les enseignants, les administratifs et les étudiants se sont naturellement approprié, et en même temps suffisamment agile pour s'adapter à l'évolution des besoins au fil des années. 
          Je recommande sans réserve et j'espère avoir encore l'occasion de collaborer avec eux.
        </cite>
      </div>
      <div class="mt-10">
        <%= link_to "Marie-Eve Laporte", "https://www.linkedin.com/in/marieevelaporte/", class:"hover:underline font-black", target: '_blank' %>
        <p>
          Professor, "Innovation Management & Future of Healthcare" research chair
        </p>
      </div>
    </div> 

    <div class="flex flex-wrap lg:flex-nowrap justify-center gap-16 mt-12">
      <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg">
        <div>
          <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
          <br>
          <cite>
            Philippe, de l'équipe Aikku, est un développeur compétent et passionné par son métier, il a créé notre application de suivi de portefeuille en Ruby on rails il y a plusieurs années et en a assuré la maintenance et les évolutions par la suite. C’est un plaisir de travailler avec lui, je le recommande.
          </cite>
        </div>
        <div>
          <%= link_to "Léa Gheerardyn", "https://www.linkedin.com/in/l%C3%A9a-gheerardyn-26417869/", class:"font-black" %>
          <p>
            Chef de projet SI @ Scopelec
          </p>
        </div>
      </div>

      <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg">
        <div>
          <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
          <br>
          <cite>
            L'équipe Aikku a été à notre écoute et a parfaitement répondu à notre besoin -
            Je recommande.
          </cite>
        </div>
        <div>
          <%= link_to "Christophe Pallandre", "https://www.linkedin.com/in/christophe-pallandre/", class:"font-black" %>
          <p>
            DAF @ Grohe France
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-between p-8 pb-12 gap-8 bg-white shadow rounded-lg">
        <div>
          <i class="fa-solid fa-quote-left fa-2xl mb-8" style="color: #000000;"></i>
          <br>
          <cite>
            À l'écoute, réactif et compétent. Même sur un secteur d'activité pas habituel, l'équipe Aikku propose et trouve des solutions adaptées.
          </cite>
        </div>
        <div>
          <%= link_to "Clément Hallé", "https://www.linkedin.com/in/cl%C3%A9ment-hall%C3%A9-780949137/", class:"font-black" %>
          <p>
            CEO @ Le T-shirt français
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'partials/contact' %>