<section class="text-center">
  <h1 class="font-black text-5xl lg:text-6xl text-purple-800 mb-6 pt-8 italic">
    <%= title "TALEA 2" %>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    <%= description "Application de gestion des Interventions" %>
  </h2>
</section>

<div class="mx-4 lg:mx-24 mb-24">
  <p class= "text-xl font-black">
    L'objectif de cette application est de dématérialiser et de gérer le flux de travail d'un service technique et ainsi d'améliorer significativement l'efficacité des processus internes.
  </p>

  <p class="text-xl mt-8">
    Points forts de l'application :
    <ul class="list-disc p-8">
      <li>Un Workflow simple pour suivre le statut de chaque Intervention</li>
      <li>Une information claire et partagée entre les parties prenantes et les services (Client/Adhérent, Agent technique, Manager, Comptabilité, Archives)</li>
      <li>Photos de l'Intervention / Notification sur changement de Statut</li>
      <li>Export Excel des interventions / Audit des modifications (Activité)</li>
      <li>Création automatique d'une Intervention via un email envoyé à support@mg.talea2.fr</li>
      <li>IA TALEA : vous permet de visualiser les prochaines interventions à planifier</li>
      <li>Une référence unique et sur tous les supports (PC/Smartphone/Tablette)</li>
    </ul>
  </p>

  <p class="text-xl mt-8">
    Composition d'une Intervention : 
    <ul class="list-disc p-8">
      <li>Description</li>
      <li>Tags (Urgent, etc.)</li>
      <li>Client</li>
      <li>Assignée à</li>
      <li>Statut (Nouveau, Accepté, En cours, Terminé, Validé, Archivé)</li>
      <li>Temps passé et temps de pause</li>
      <li>Photos</li>
      <li>Commentaires</li>
      <li>Evaluation</li>
    </ul>
  </p>

  <h3 class="apps-title">Démonstration</h3>
  <p>
    Envie de tester l'application ?
    <%= link_to "Lancer l'instance de démonstration", 'https://www.talea2.fr/', class:'link', target: '_blank' %>
  </p>

  <h3 class="apps-title">Développement</h3>
  <p>
    Cette application est développée et maintenue par 
    <%= link_to 'Aikku', root_path, class:'link' %>
  </p>

  <h3 class="apps-title">Support et services</h3>
  <p>
    Vous souhaitez une nouvelle fonctionnalité ou installer TALEA ?
    <%= link_to 'Consultez notre offre de services', contact_path, class:'link' %>
  </p>

</div>

<%= render partial: 'partials/contact' %>