<div class="container">
  <h1>Nouveau message de contact</h1>

  <p>
    <strong>Nom: </strong>
    <%= @message.nom %>
  </p>
  <p>
    <strong>Prénom: </strong>
    <%= @message.prénom %>
  </p>
  <p>
    <strong>Structure: </strong>
    <%= @message.structure %>
  </p>
  <p>
    <strong>fonction: </strong>
    <%= @message.fonction %>
  </p>
  <p>
    <strong>Email: </strong>
    <%= @message.email %>
  </p>
  <p>
    <strong>Mobile: </strong>
    <%= @message.mobile %>
  </p>
  <p>
    <strong>Contenu: </strong>
    <%= @message.contenu %>
  </p>
</div>