<div class="mt-12 mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <p class="mb-3 text-sm opacity-70"><%= @post.date.strftime("%d/%m/%Y") if @post.date %></p>
    
    <h1 class="text-4xl font-black underline underline-offset-8 mb-6">
      <%= title @post.title %>
    </h1>
    
    <div class="mb-6">
      <%= render(TagListComponent.new(tags: @post.tag_list)) %>
    </div>

    <%= markdown(@post.content) %>

    <% if user_signed_in? %>
      <%= link_to 'Edit this post', edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
      <%= link_to 'Back to posts', posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  </div>
</div>
