<div class="py-6">
  <% if result.searchable_type == "Post" %>
    <%= link_to url_for(controller: result.searchable_type.pluralize.downcase, 
                action: 'show', 
                id: result.searchable_id),
                data: { turbo_frame: "_top" } do %>
      <h3 class="text-3xl font-black hover:underline">
        <%= result.searchable_type.constantize.find(result.searchable_id).title %>
      </h3>
      <br>
      <p class="my-8 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
        <%= truncate(result.searchable_type.constantize.find(result.searchable_id).content, length: 250) %>
      </p>
    <% end %>
  <% elsif result.searchable_type == "Projet" %>
    <% projet = Projet.find(result.searchable_id) %>
    <h3 class="text-3xl text-primary underline underline-offset-8 mb-8">
      <%= projet.nom %>
    <h3>
    <p class="my-4 first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-black first-letter:mr-3 first-letter:float-left">
      <%= projet.contenu %>
    </p>
    <br>
    <p>
      Pour en savoir plus :
      <%= link_to projet.url, projet.url, class:'link' %>
    </p>
  <% elsif result.searchable_type == "Client" %>
    <h3 class="font-black text-3xl text-accent underline underline-offset-8 mb-6">
      <%= Client.find(result.searchable_id).name %>
    <h3>
    <p>
      <%= simple_format(Client.find(result.searchable_id).description) %>
    </p>
  <% end %>
</div>
<hr>