<!DOCTYPE html>
<html lang="fr" data-theme="winter">
  <head>
    <%= display_meta_tags site: "#{ @sitename }", separator: '-', reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'partials/favicon' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <%= render 'partials/gtag' %>
    <script type="text/javascript"> (function() { 
      var css = document.createElement('link'); 
      css.href = 'https://use.fontawesome.com/releases/v6.1.2/css/all.css'; 
      css.rel = 'stylesheet'; 
      css.type = 'text/css'; 
      document.getElementsByTagName('head')[0].appendChild(css); 
      })(); 
    </script>

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </head>

  <body class="flex flex-col justify-between min-h-screen" style="background-image: linear-gradient(
  105deg,
  hsl(240deg 100% 98%) 59%,
  hsl(254deg 100% 97%) 98%,
  hsl(268deg 100% 97%) 100%
);">
    <%= render partial: "partials/navbar" %>
    <%= render partial: "partials/notification" %>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <% if cookies[:axeptio_cookies].blank? %>
      <%= render 'layouts/cookies_axeptio' %>
    <% end %>
    <%= render partial: "partials/footer" %>
  </body>
</html>

<script>
function reveal() {
  var reveals = document.querySelectorAll(".reveal");
  for (var i = 0; i < reveals.length; i++) {
    var windowHeight = window.innerHeight;
    var elementTop = reveals[i].getBoundingClientRect().top;
    var elementVisible = 150;
    if (elementTop < windowHeight - elementVisible) {
      reveals[i].classList.add("active");
    }
  }
}
window.addEventListener("scroll", reveal);

// To check the scroll position on page load
reveal();

</script>
